// Gilroy
@font-face {
  font-family: 'Gilroy';
  font-weight: 300;
  src: url('@/assets/fonts/Gilroy/Gilroy-Light.woff2') format('woff2'),
    url('@/assets/fonts/Gilroy/Gilroy-Light.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  src: url('@/assets/fonts/Gilroy/Gilroy-Regular.woff2') format('woff2'),
    url('@/assets/fonts/Gilroy/Gilroy-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 500;
  src: url('@/assets/fonts/Gilroy/Gilroy-Medium.woff2') format('woff2'),
    url('@/assets/fonts/Gilroy/Gilroy-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 600;
  src: url('@/assets/fonts/Gilroy/Gilroy-SemiBold.woff2') format('woff2'),
    url('@/assets/fonts/Gilroy/Gilroy-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-weight: 700;
  src: url('@/assets/fonts/Gilroy/Gilroy-Bold.woff2') format('woff2'),
    url('@/assets/fonts/Gilroy/Gilroy-Bold.woff') format('woff');
}

// Nunito
@font-face {
  font-family: 'Nunito';
  font-weight: 200;
  src: url('@/assets/fonts/Nunito/Nunito-ExtraLight.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 300;
  src: url('@/assets/fonts/Nunito/Nunito-Light.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-Light.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 400;
  src: url('@/assets/fonts/Nunito/Nunito-Regular.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 500;
  src: url('@/assets/fonts/Nunito/Nunito-Medium.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 600;
  src: url('@/assets/fonts/Nunito/Nunito-SemiBold.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 700;
  src: url('@/assets/fonts/Nunito/Nunito-Bold.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 800;
  src: url('@/assets/fonts/Nunito/Nunito-ExtraBold.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-weight: 900;
  src: url('@/assets/fonts/Nunito/Nunito-Black.woff2') format('woff2'),
    url('@/assets/fonts/Nunito/Nunito-Black.woff') format('woff');
}
